{#
/**
 * @file
 * User teaser template.
 */
#}
{% set _title %}
  <a class="text-underline-hover" href="{{ path('entity.user.canonical', {'user': user.id}) }}">
    {{ user.label }}
  </a>
{% endset %}
{% set _content_value %}
  {{ user.field_organization.value }} {{ user.field_current_position.value }}
{% endset %}
{{ pattern('card', {
  variant: 'search',
  title: _title,
  content: {
    '#type': 'html_tag',
    '#tag': 'div',
    '#attributes': {
      class: 'text-muted',
    },
    '#value': _content_value,
  },
  image: content.field_profile_image[0],
}) }}
