{#
/**
 * @file
 * Theme override for user in 'full' view mode.
 */
#}
{% spaceless %}
<article{{ attributes }}>
  {# @todo Remove the 'px-0' once OEL-1226 is fixed. #}
  {{ pattern('content_banner', {
    image: pattern_image,
    title: content.field_first_name|field_value|render ~ ' ' ~ content.field_last_name|field_value|render,
    meta: [
      content.group_professional_information.field_organization|field_value,
      content.group_professional_information.field_current_position|field_value,
    ],
    content: content.field_bio|field_value,
    attributes: create_attribute().addClass('mb-4', 'px-0'),
  }) }}
  {{ _self.description_list_section('Personal information', content.group_personal_information ?? {}) }}
  {{ _self.description_list_section('Professional information', content.group_professional_information ?? {}) }}
</article>

{% macro description_list_section(group_label, group_content) %}
  <section class="my-3">
    {% set _items = [] %}
    {% for _field_name, _field in group_content if _key|first != '#' and _field|field_value %}
      {% set _value %}
        {{ _field|field_value|safe_join(', ') }}
      {% endset %}
      {% set _items = _items|merge([{
        term: _field|field_label,
        definition: _value,
      }]) %}
    {% endfor %}
    {% if _items %}
      <h3 class="fw-bold mb-4">{{ group_label }}</h3>
      {{ pattern('description_list', {
        orientation: 'horizontal',
        items: _items,
      }) }}
    {% endif %}
  </section>
{% endmacro description_list_section %}
{% endspaceless %}
